
  <head>
    <%- include("head.ejs") %>
  </head>
  <body>
    <header>
      <%- include("navigation.ejs") %>
    </header>
    <div style="text-align: center; margin: 5;">
        <p>Losowa liczba między min a max</p>
        <form action="/zad1" method="post">
          <label for="fname"> Min </label><br/>
          <input type="number" name="number[min]" value="<%- min %>"><br/>
          <label for="lname">Max</label><br/>
          <input type="number" name="number[max]" value="<%- max %>"><br/><br/>
          <input type="submit" value="Wyślij"/>
        </form> 
        <p style="margin: 10;"> Wynik: <%- number %> </p>
    </div>
</body>