
<head>
    <%- include("head.ejs") %>
    <style>
      table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
      }
      th, td {
        padding: 15px;
      }
      </style>
</head>
<body>
    <header>
        <%- include("navigation.ejs") %>
    </header>
    <div name='logi' style="text-align: center;">
        <form action="/zad3" method="post" enctype="multipart/form-data">
            <label for="lname">Ile logów wygenerować</label><br>
            <input type="number" name="ile_logow" value="<%- ile_logow %>"><br><br>
            <label>Wyświetlić czas?</label>
            <input type="checkbox" name="time" <%= opt.time ? "checked" : "" %>><br>
            <label>Wyświetlić datę?</label>
            <input type="checkbox" name="date" <%= opt.date ? "checked" : "" %> ><br>
            <label>Wyświetlić typ?</label>
            <input type="checkbox" name="method" <%= opt.method ? "checked" : "" %>><br>
            <input type="submit" value="Wyślij"><br>
        </form>

    <table style="width:100%">
        <% if(typeof(logs) !== 'undefined'){ %>
                  <tr>
                      <th>IP</th>
                      <% if(typeof(opt) !== 'undefined') { %>
                      <% if(opt.time) { %>
                      <th>Czas UTC</th>
                      <% } %>
                      <% if(opt.date) {%>
                      <th>Data</th>
                      <% } %>
                      <% if(opt.method) {%>
                      <th>Typ żądania</th>
                      <% }} %>
                  </tr>
                  <% for(var i = 0; i < logs.length; i++){ %>
                  <tr>
                      <td><%= logs[i].ip %></td>
                      <% if(typeof(opt) !== 'undefined') { %>
                      <% if(opt.time) { %>
                      <td><%= logs[i].time %></td>
                      <% } %>
                      <% if(opt.date) {%>
                      <td><%= logs[i].date %></td>
                      <% } %>
                      <% if(opt.method) {%>
                      <td><%= logs[i].method %></td>
                      <% }} %>
                  </tr>
                  <% }} %>

          </div>
  </body>