
  <head>
    <title>FreshDev</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <style>
      table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
      }
      th, td {
        padding: 15px;
      }
      </style>
  </head>
  <body>
      <div>
          <div style="margin-bottom:0" style="max-height: 50">
              <h1 style="text-align: center">FreshDev</h1>
          </div>

          <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                  <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="collapsibleNavbar">
                  <ul class="navbar-nav">
                      <li class="nav-item">
                          <a class="nav-link" href="/">Strona główna</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="/zad1">Zadanie 1</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="/zad2">Zadanie 2</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="/zad3">Zadanie 3</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/zad4">Zadanie 4</a>
                    </li>
                  </ul>
              </div>
          </nav>
          <div name='logi' style="text-align: center;">
              <form action="/zad3" method="post" enctype="multipart/form-data">
                  <label for="lname">Ile logów wygenerować</label><br>
                  <input type="number" name="ile_logow" value="<%- ile_logow %>"><br><br>
                  <label>Wyświetlić czas?</label>
                  <input type="checkbox" name="time" <%= opt.time ? "checked" : "" %>><br>
                  <label>Wyświetlić datę?</label>
                  <input type="checkbox" name="date" <%= opt.date ? "checked" : "" %> ><br>
                  <label>Wyświetlić typ?</label>
                  <input type="checkbox" name="method" <%= opt.method ? "checked" : "" %>><br>
                  <input type="submit" value="Wyślij"><br>
              </form>

              <table style="width:100%">
                  <% if(typeof(logs) !== 'undefined'){ %>
                  <tr>
                      <th>IP</th>
                      <% if(typeof(opt) !== 'undefined') { %>
                      <% if(opt.time) { %>
                      <th>Czas UTC</th>
                      <% } %>
                      <% if(opt.date) {%>
                      <th>Data</th>
                      <% } %>
                      <% if(opt.method) {%>
                      <th>Typ żądania</th>
                      <% }} %>
                  </tr>
                  <% for(var i = 0; i < logs.length; i++){ %>
                  <tr>
                      <td><%= logs[i].ip %></td>
                      <% if(typeof(opt) !== 'undefined') { %>
                      <% if(opt.time) { %>
                      <td><%= logs[i].time %></td>
                      <% } %>
                      <% if(opt.date) {%>
                      <td><%= logs[i].date %></td>
                      <% } %>
                      <% if(opt.method) {%>
                      <td><%= logs[i].method %></td>
                      <% }} %>
                  </tr>
                  <% }} %>

          </div>
  </body>