<head>
    <%- include("head.ejs") %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <header>
        <%- include("navigation.ejs") %>
    </header> 
    <div style="text-align: center;">
        <form method="POST">
            <label>Word</label>
            <input type="text" name="word"></input>
            <input type="submit" value="Add"></input>
        </form>
    </div>
    <div style="text-align: center;">
        <% if(locals.words !== null ) { %>
            <h3> Wyniki </h3><br/>
            <ul>
                <% words.forEach( result => { %>
                    <li>
                        <span><%= result.word %></span>
                        <div>
                            <form style="display: inline-block;" method="put">
                                <input type="hidden" name="Id" value="<%=result.Id%>"> 
                                <input type="text" name="new_word">
                                <input type="submit" value = "Edit">
                            </form>
                        </div>
                        <div> 
                            <form style="display: inline-block;" method="delete">
                                <input type="hidden" name="Id" value="<%=result.Id%>"> 
                                <input type="submit" value="Delete">
                            </form>
                        </div>
                    </li>
                <% }) %>
            </ul>
        <% } %>
    </div>
</body>